{% extends "base.html" %}
{% block content %} {% if book %}
<table class="customTable">
    <thead>
    <tr>
        <th>Описание</th>
        <th>Количество просмотров</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ book[1] }}
        </td>
        <td>
            {{ book[2] }}
        </td>
    </tr>
    </tbody>
</table>
{% else %}
<h2> К сожалению у меня пока нет описания к этой книге…</h2>
{% endif %}
<a href="/books">Возврат на главную страницу</a><br>
{% endblock %}